<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.finalproject.content.model.dao.ContentMapper">
	
	<insert id="insertContent"
			parameterType="com.kh.finalproject.content.model.vo.Content">
		<selectKey keyProperty="contentId" resultType="long" order="BEFORE">
        	SELECT SEQ_CONTENT_ID.NEXTVAL FROM DUAL
    	</selectKey>
			INSERT INTO TB_CONTENT (
				CONTENT_ID,
   				CATEGORY_CODE,
     			TITLE,
   		 	    FIRST_IMAGE,
  			    TEL,
  			    HOMEPAGE,
  			    PLAY_TIME
 			   ) VALUES (
			   #{contentId},
   			   #{categoryCode},
   			   #{title},
   			   #{firstImageUrl},
  			   #{tel},
  			   #{homepage},
  			   #{playtime}
    )
	</insert>
	
	<update id="updateFirstImage">
    	UPDATE TB_CONTENT
    	SET FIRST_IMAGE = #{fileUrl}
    	WHERE CONTENT_ID = #{contentId}
	</update>
	
	<update id="updateContentImage">
    	UPDATE TB_CONTENT
    	SET FIRST_IMAGE = #{firstImageUrl}
   		WHERE CONTENT_ID = #{contentId}
	</update>

</mapper>