<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.finalproject.content.model.dao.ContentMapper">
	
	<insert id="insertContent"
			parameterType="com.kh.finalproject.content.model.vo.Content">
		INSERT INTO TB_CONTENT (
   			CATEGORY_CODE,
     		TITLE,
   		   FIRST_IMAGE,
  		    TEL,
  		    HOMEPAGE,
  		    PLAYTIME
 		   ) VALUES (
   		   #{categoryCode},
   		   #{title},
   		   #{firstImage},
  		   #{tel},
  		   #{homepage},
  		   #{playtime}
    )
	</insert>

</mapper>