<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.finalproject.content.model.dao.ContentMapper">
	
	<insert id="insertContent"
			parameterType="com.kh.finalproject.content.model.vo.Content">
		<selectKey keyProperty="contentId" resultType="long" order="BEFORE">
        	SELECT SEQ_CONTENT_ID.NEXTVAL FROM DUAL
    	</selectKey>
			INSERT INTO TB_CONTENT (
				CONTENT_ID,
   				CATEGORY_CODE,
     			TITLE,
   		 	    FIRST_IMAGE,
  			    TEL,
  			    HOMEPAGE,
  			    PLAY_TIME
 			   ) VALUES (
			   #{contentId},
   			   #{categoryCode},
   			   #{title},
   			   #{firstImageUrl, jdbcType=VARCHAR},
  			   #{tel},
  			   #{homepage},
  			   #{playtime}
    )
	</insert>
	
	<update id="updateFirstImage">
    	UPDATE TB_CONTENT
    	SET FIRST_IMAGE = #{fileUrl}
    	WHERE CONTENT_ID = #{contentId, jdbcType=NUMERIC}
	</update>
	
	<update id="updateContentImage">
    	UPDATE TB_CONTENT
    	SET FIRST_IMAGE = #{firstImageUrl}
   		WHERE CONTENT_ID = #{contentId, jdbcType=NUMERIC}
	</update>
	
	<select id="selectContentList"
			resultType="com.kh.finalproject.content.model.dto.ContentCardDTO">
  	  SELECT
   		CONTENT_ID AS contentId,
  		CATEGORY_CODE AS categoryCode,
    	TITLE,
   		FIRST_IMAGE AS firstImage
  	  FROM
  	  	TB_CONTENT
  	    <where>
  	      STATUS = 'Y'
          <if test="categoryCode != null">
            CATEGORY_CODE = #{categoryCode}
          </if>
        </where>
 	  ORDER BY CONTENT_ID DESC
	</select>
	
	<update id="updateContent" 
        	parameterType="com.kh.finalproject.content.model.vo.Content">
    	UPDATE TB_CONTENT 
    	SET CATEGORY_CODE = #{categoryCode},
        TITLE = #{title},
        FIRST_IMAGE = #{firstImageUrl},
        TEL = #{tel},
        HOMEPAGE = #{homepage},
        PLAY_TIME = #{playtime}
    	WHERE CONTENT_ID = #{contentId, jdbcType=NUMERIC}
	</update>
	
	<update id="deleteContent">
    	UPDATE TB_CONTENT
  	    SET STATUS = #{status}
  	    WHERE CONTENT_ID = #{contentId, jdbcType=NUMERIC}
    </update>
    
    <select id="findDetailByContentId"
    		resultType="com.kh.finalproject.content.model.dto.DetailContentDTO">
  		SELECT 
 		  C.CONTENT_ID AS contentId,
  		  C.CATEGORY_CODE  AS categoryCode,
 		  C.TITLE             AS title,
 		  C.TEL               AS tel,
 		  C.HOMEPAGE          AS homepage,
 		  C.PLAY_TIME         AS playtime,
 		  C.FIRST_IMAGE       AS firstImage
 		 FROM TB_CONTENT C
 		 WHERE C.CONTENT_ID = #{contentId}
	</select>
	
	

</mapper>