<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.kh.finalproject.token.model.dao.TokenMapper">
  
   <select id="existingToken"
   		   resultType="com.kh.finalproject.token.model.vo.RefreshTokenVO">
	   
	   SELECT
	   		 USER_NO userNo,
	   		 TOKEN token,
	   		 EXPIRATION_TIME expirationTime
	   FROM
	   		 TB_TOKEN
	   WHERE
	   		 USER_NO = #{userNo}
	   
   </select>
  
  
  	<insert id="insertRefreshToken"
  			parameterType="com.kh.finalproject.token.model.vo.RefreshTokenVO"
	  	>
	  	INSERT
	  	INTO
	  	TB_TOKEN (
			USER_NO,
			TOKEN,
			EXPIRATION_TIME
		)
		VALUES(
			#{userNo},
			#{token},
			#{expirationTime}
		)
	  	
  	</insert>
  
  
  <delete id="deleteTokenByUserNo"
  		  parameterType="long">
  
	  DELETE
	  FROM
	  		TB_TOKEN
	  WHERE
	 		USER_NO = #{userNo}		
	  
  </delete>
  
 
  <delete id="deleteToken"
  		parameterType="com.kh.finalproject.auth.model.dto.LogoutDTO">
  
	  DELETE
	  FROM
	  		TB_TOKEN
	  WHERE
	  		TOKEN = #{refreshToken}
	  
  
  </delete>
  
  <delete id="deleteUserToken"
  		 parameterType="map">
  		 
  		 DELETE
  		 FROM
  		 		TB_TOKEN
  		 WHERE
  		 		TOKEN = #{refreshToken}
  
  </delete>
  
  
  </mapper>