<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="com.kh.finalproject.user.model.dao.UserMapper">
  
 	<select id="existsByUserId"
  		resultType="int">
	  SELECT
	  		COUNT(*)
	  FROM
	  		NW_USER
	  WHERE
	  		USER_ID = #{userId}
  		
 	</select>
	
	<select id="existsByUserNickName"
  		resultType="int">
	  SELECT
	  		COUNT(*)
	  FROM
	  		NW_USER
	  WHERE
	  		NICKNAME = #{nickName}
  		
 	</select>
 	
	<select id="existsByUserEmail"
  		resultType="int">
	  SELECT
	  		COUNT(*)
	  FROM
	  		NW_USER
	  WHERE
	  		EMAIL = #{email}
  		
 	</select>

  
  <insert id="signUp"
  		parameterType="com.kh.finalproject.user.model.dto.UserDTO">
 
  
	  INSERT INTO
	NW_USER
	(
		
		USER_ID,
		PASSOWRD,
		EMAIL,
		REALNAME,
		NICKNAME
	)
	VALUES(
		#{userId},
		#{password},
		#{email},
		#{realName},
		#{nickName}
	)
	
  </insert>
  
 
  </mapper>