<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.finalproject.report.model.dao.ReportMapper">

  <resultMap
    id="reportMap"
    type="com.kh.finalproject.report.model.dto.ReportDTO">
    <id property="reportNo" column="REPORT_NO"/>
    <result property="reviewNo" column="REVIEW_NO"/>
    <result property="userNo" column="USER_NO"/>
    <result property="userName" column="USER_NAME"/>
    <result property="penaltyNo" column="PENALTY_NO"/>
    <result property="penaltyName" column="PENALTY_NAME"/>
    <result property="categoryNo" column="CATEGORY_NO"/>
    <result property="categoryName" column="CATEGORY_NAME"/>
    <result property="reportContent" column="REPORT_CONTENT"/>
    <result property="createdTime" column="CREATED_TIME"/>
    <result property="status" column="STATUS"/>
  </resultMap>

  <sql id="selectColumns">
      r.REPORT_NO
    , r.REVIEW_NO
    , u.USER_NAME
    , p.PENALTY_NAME
    , c.CATEGORY_NAME
    , r.CREATED_TIME
    , r.STATUS
  </sql>
  
  <select 
    id="findByReportList" 
    resultMap="reportMap">
    SELECT  <include refid="selectColumns"/>
      FROM  TB_REPORT r
      JOIN  TB_USER u ON(r.USER_NO = u.USER_NO)
      JOIN  TB_REPORT_CATEGORY c ON(r.CATEGORY_NO = c.CATEGORY_NO)
      JOIN  TB_PENALTY p ON(r.PENALTY_NO = p.PENALTY_NO)
    <where>
      <if test="status == 'Y'">r.STATUS = 'Y'</if>
      <if test="status == 'D'">r.STATUS = 'D'</if>
      <if test="status == 'N'">r.STATUS = 'N'</if>
    </where>
  </select>

  <select 
    id="findByReportId" 
    parameterType="int" 
    resultMap="reportMap">
    SELECT  <include refid="selectColumns"/>
          , r.REPORT_CONTENT
      FROM  TB_REPORT r
      JOIN  TB_USER u ON(r.USER_NO = u.USER_NO)
      JOIN  TB_REPORT_CATEGORY c ON(r.CATEGORY_NO = c.CATEGORY_NO)
      JOIN  TB_PENALTY p ON(r.PENALTY_NO = p.PENALTY_NO)
     WHERE  r.REPORT_NO = #{id}
  </select>

  <insert 
    id="addByReport" 
    parameterType="com.kh.finalproject.report.model.vo.ReportVO">
    INSERT 
      INTO  TB_REPORT
        (   
            REPORT_NO
          , REVIEW_NO
          , USER_NO
          , CATEGORY_NO
          , PENALTY_NO
          , REPORT_CONTENT
        )
    VALUES
        (
            SEQ_REPORT_NO.NEXTVAL
          , #{reviewNo}
          , #{userNo}
          , #{categoryNo}
          , #{penaltyNo}
          , #{reportContent}
        )
  </insert>

  <!-- <update 
    id="" >
    UPDATE  TB_REPORT
       SET  STATUS = #{status}
          , MODIFIED_TIME = SYSDATE
     WHERE  REPORT_NO = #{reportNo}
  </update> -->
    
</mapper>