<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.finalproject.global.model.dao.ContentMapper">

  <!-- ContentDTO -->
  <resultMap
    id="resultMap"
    type="com.kh.finalproject.global.model.dto.ContentDTO">
    <id property="contentId" column="CONTENT_ID"/>
    <result property="categoryCode" column="CATEGORY_CODE"/>
    <result property="title" column="TITLE"/>
    <result property="firstImage" column="FIRST_IMAGE"/>
    <result property="tel" column="TEL"/>
    <result property="homepage" column="HOMEPAGE"/>
    <result property="playTime" column="PLAY_TIME"/>
    <result property="createdTime" column="CREATED_TIME"/>
    <result property="modifiedTime" column="MODIFIED_TIME"/>
  </resultMap>

  <!-- 공통 컬럼 조회 -->
  <select
    id="findByContent"
    resultMap="resultMap"
    parameterType="long">
    SELECT  CONTENT_ID
          , CATEGORY_CODE
          , TITLE
          , FIRST_IMAGE
          , TEL
          , HOMEPAGE
          , PLAY_TIME 
          , CREATED_TIME
          , MODIFIED_TIME
      FROM  TB_CONTENT
     WHERE  STATUS = 'Y'
       AND  CATEGORY_CODE = #{categoryCode}
     ORDER 
        BY  CREATED_TIME DESC
          , MODIFIED_TIME DESC
  </select>

  <!-- 컨텐츠 저장 -->
  <insert 
    id="addByContent"
    parameterType="com.kh.finalproject.global.model.vo.ContentVO">
    <selectKey
      keyProperty="contentId"
      resultType="long"
      order="BEFORE">
      SELECT  SEQ_CONTENT_ID.NEXTVAL
        FROM  DUAL
    </selectKey>
    INSERT 
      INTO  TB_CONTENT
        (
            CONTENT_ID
          , CATEGORY_CODE
          , TITLE
          , FIRST_IMAGE
          , TEL
          , HOMEPAGE
          , PLAY_TIME
        )
    VALUES
        (
            #{contentId}
          , #{categoryCode}
          , #{title}
          , #{firstImage}
          , #{tel}
          , #{homepage}
          , #{playTime}
        )
  </insert>

  <!-- 컨텐츠 이미지 저장 -->
  <insert
    id="addByContentImg"
    parameterType="com.kh.finalproject.global.model.vo.ContentVO">
    INSERT 
      INTO  TB_CONTENT_IMG
        (
            CONTENT_IMG_NO
          , CONTENT_ID
          , FILE_URL
        )
    VALUES
        (
            SEQ_CONTENT_IMG_NO.NEXTVAL
          , #{contentId}
          , #{fileUrl}
        )
  </insert>

  <!-- 컨텐츠 수정 -->
  <update
    id="updateByContent"
    parameterType="com.kh.finalproject.global.model.vo.ContentVO">
    UPDATE  TB_CONTENT
    <set>
      <if test="categoryCode != null">CATEGORY_CODE = #{categoryCode},</if>
      <if test="title != null">TITLE = #{title},</if>
      <if test="firstImage != null">FIRST_IMAGE = #{firstImage},</if>
      <if test="tel != null">TEL = #{tel},</if>
      <if test="homepage != null">HOMEPAGE = #{homepage},</if>
      <if test="playTime != null">PLAY_TIME = #{playTime},</if>
      MODIFIED_TIME = SYSDATE
    </set>
     WHERE  CONTENT_ID = #{contentId}
  </update>

  <!-- 컨텐츠 이미지 수정 -->
  <update
    id="updateByContentImg"
    parameterType="com.kh.finalproject.global.model.vo.ContentVO">
    UPDATE  TB_CONTENT_IMG
       SET  FILE_URL = #{fileUrl}
     WHERE  CONTENT_ID = #{contentId}
  </update>

  <!-- 컨텐츠 비활성화 -->
  <update
    id="deleteByContent"
    parameterType="long">
    UPDATE  TB_CONTENT
       SET  STATUS = 'N'
     WHERE  CONTENT_ID = #{contentId}
  </update>

</mapper>
