<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.finalproject.global.map.model.dao.DetailAddMapper">

  <!-- DetailAddDTO -->
  <resultMap 
    id="resultMap"
    type="com.kh.finalproject.global.map.model.dto.DetailAddDTO">
    <id property="detailNo" column="DETAIL_NO"/>
    <result property="contentId" column="CONTENT_ID"/>
    <result property="dongNo" column="DONG_NO"/>
    <result property="detailName" column="DETAIL_NAME"/>
    <result property="postAddress" column="POST_ADDRESS"/>
  </resultMap>

  <!-- 세부사항 조회 -->
  <select
    id="findByDetailAdd"
    resultMap="resultMap">
    SELECT  DETAIL_NO
          , CONTENT_ID
          , DONG_NO
          , DETAIL_NAME
          , POST_ADDRESS
      FROM  TB_DETAIL_ADD
     WHERE  CONTENT_ID = #{contentId}
  </select>

  <!-- 세부사항 저장 -->
  <insert
    id="addByDetailAdd"
    parameterType="com.kh.finalproject.global.map.model.vo.DetailAddVO">
    INSERT 
      INTO  TB_DETAIL_ADD
        (
            DETAIL_NO
          , CONTENT_ID
          , DONG_NO
          , DETAIL_NAME
          , POST_ADDRESS
        )
    VALUES
        (
            SEQ_DETAIL_NO.NEXTVAL
          , #{contentId}
          , #{dongNo}
          , #{detailName}
          , #{postAddress}
        )
  </insert>

  <!-- 세부사항 수정 -->
  <update
    id="updateByDetailAdd"
    parameterType="com.kh.finalproject.global.map.model.vo.DetailAddVO">
    UPDATE  TB_DETAIL_ADD
    <set>
      <if test="dongNo != null">DONG_NO = #{dongNo},</if>
      <if test="detailName != null">DETAIL_NAME = #{detailName},</if>
      <if test="postAddress != null">POST_ADDRESS = #{postAddress}</if>
    </set>
     WHERE  CONTENT_ID = #{contentId}
  </update>

  <!-- 세부사항 삭제 -->
  <delete
    id="deleteByDetailAdd"
    parameterType="Long">
    DELETE 
      FROM  TB_DETAIL_ADD
     WHERE  CONTENT_ID = #{contentId}
  </delete>

</mapper>
