<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.finalproject.festival.model.dao.FestivalMapper">

  <!-- FestivalDTO -->
  <resultMap
    id="resultMap"
    type="com.kh.finalproject.festival.model.dto.FestivalDTO">
    <id property="contentId" column="CONTENT_ID"/>
    <result property="categoryCode" column="CATEGORY_CODE"/>
    <result property="title" column="TITLE"/>
    <result property="firstImage" column="FIRST_IMAGE"/>
    <result property="tel" column="TEL"/>
    <result property="homepage" column="HOMEPAGE"/>
    <result property="playTime" column="PLAY_TIME"/>
    <result property="createdTime" column="CREATED_TIME"/>
    <result property="modifiedTime" column="MODIFIED_TIME"/>
    <result property="status" column="STATUS"/>
    <result property="program" column="PROGRAM"/>
    <result property="eventExp" column="EVENT_EXP"/>
    <result property="sponsor" column="SPONSOR"/>
    <result property="usetimeFestival" column="USETIME_FESTIVAL"/>
    <result property="eventStartDate" column="EVENT_START_DATE"/>
    <result property="eventEndDate" column="EVENT_END_DATE"/>
  </resultMap>

  <!-- 축제 상세 조회 -->
  <select
    id="findByFestivalId"
    resultMap="resultMap"
    parameterType="long">
    SELECT  c.CONTENT_ID
          , c.CATEGORY_CODE
          , c.TITLE
          , c.FIRST_IMAGE
          , c.TEL
          , c.HOMEPAGE
          , c.PLAY_TIME
          , c.CREATED_TIME
          , c.MODIFIED_TIME
          , c.STATUS
          , f.PROGRAM
          , f.EVENT_EXP
          , f.SPONSOR
          , f.USETIME_FESTIVAL
          , f.EVENT_START_DATE
          , f.EVENT_END_DATE
      FROM  TB_CONTENT c
      JOIN  TB_FESTIVAL f  ON(c.CONTENT_ID = t.CONTENT_ID)
     WHERE  CONTENT_ID = #{contentId}
       AND  c.STATUS = 'Y'
     ORDER
        BY  c.CREATED_TIME DESC
          , c.MODIFIED_TIME DESC
  </select>

  <!-- 축제 저장 -->
  <insert
    id="addByFestival"
    parameterType="com.kh.finalproject.festival.model.vo.FestivalVO">
    INSERT 
      INTO  TB_FESTIVAL
        (
            CONTENT_ID
          , PROGRAM
          , EVENT_EXP
          , SPONSOR
          , USETIME_FESTIVAL
          , EVENT_START_DATE
          , EVENT_END_DATE
        )
    VALUES
        (
            #{contentId}
          , #{program}
          , #{eventExp}
          , #{sponsor}
          , #{usetimeFestival}
          , #{eventStartDate}
          , #{eventEndDate}
        )
  </insert>

  <!-- 축제 수정 -->
  <update
    id="updateByFestival"
    parameterType="com.kh.finalproject.festival.model.vo.FestivalVO">
    UPDATE  TB_FESTIVAL
    <set>
      <if test="program != null">PROGRAM = #{program},</if>
      <if test="eventExp != null">EVENT_EXP = #{eventExp},</if>
      <if test="sponsor != null">SPONSOR = #{sponsor},</if>
      <if test="usetimeFestival != null">USETIME_FESTIVAL = #{usetimeFestival},</if>
      <if test="eventStartDate != null">EVENT_START_DATE = #{eventStartDate},</if>
      <if test="eventEndDate != null">EVENT_END_DATE = #{eventEndDate},</if>
    </set>
     WHERE  CONTENT_ID = #{contentId}
  </update>

</mapper>
