<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.finalproject.global.map.model.dao.SidoMapper">

  <!-- 시도 저장 -->
  <insert
    id="addBySido"
    parameterType="com.kh.finalproject.global.map.model.vo.SidoVO">
    INSERT 
      INTO  TB_SIDO
        (
            SIDO_NO
          , SIDO_NAME
        )
    VALUES
        (
            SEQ_SIDO_NO.NEXTVAL
          , #{sidoName}
        )
  </insert>

  <!-- 시도 수정 -->
  <update
    id="updateBySido"
    parameterType="com.kh.finalproject.global.map.model.vo.SidoVO">
    UPDATE  TB_SIDO
    <set>
      <if test="sidoName != null">SIDO_NAME = #{sidoName},</if>
    </set>
     WHERE  SIDO_NO = #{sidoNo}
  </update>

  <!-- 시도 삭제 -->
  <delete
    id="deleteBySido"
    parameterType="Long">
    DELETE 
      FROM  TB_SIDO
     WHERE  SIDO_NO = #{sidoNo}
  </delete>

  <!-- 시도 조회 -->
  <select
    id="findBySido"
    resultType="com.kh.finalproject.global.map.model.dto.SidoDTO">
    SELECT  SIDO_NO
          , SIDO_NAME
      FROM  TB_SIDO
  </select>

</mapper>
